{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"printWidth": 130,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{
			"files": ["*.ts", "*.mts"],
			"options": {
				"parser": "typescript"
			}
		}
	]
}
